.member-list-item__rank {
    width: 100px;
    float: left;
    clear: both;
}

.member-list-item__name {
    width: 170px;
    float: left;
}

.member-list_header {
    font-weight: bold;
    border-bottom: 1px solid #CCC;
}

.member-list-item__classes {
    float: left;
}


.class-level {
    width: 32px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    text-align: right;
    font-size: 12px;
    text-shadow: 0 0 2px black;
    font-weight: bold;
    height: 24px;
    background-color: RGBA(0,0,0,0.5);
    line-height: 35px;
    overflow: hidden;
}

.class-level.capped {
  color: RGBA(255,175,0,1);
}

.gladiator {
  background-image: url('images/GLA.png');
}

.paladin {
  background-image: url('images/PLD.png');
}

.maurader {
  background-image: url('images/MRD.png');
}

.warrior {
  background-image: url('images/WAR.png');
}

.dark_knight {
  background-image: url('images/DRK.png');
}

.conjurer {
  background-image: url('images/CNJ.png');
}

.white_mage {
  background-image: url('images/WHM.png');
}

.scholar {
  background-image: url('images/SCH.png');
}

.astrologian {
  background-image: url('images/AST.png');
}

.pugilist {
  background-image: url('images/PGL.png');
}

.monk {
  background-image: url('images/MNK.png');
}

.lancer {
  background-image: url('images/LNC.png');
}

.dragoon {
  background-image: url('images/DRG.png');
}

.rogue {
  background-image: url('images/ROG.png');
}

.ninja {
  background-image: url('images/NIN.png');
}

.samurai {
  background-image: url('images/SAM.png');
}

.archer {
  background-image: url('images/ARC.png');
}

.bard {
  background-image: url('images/BRD.png');
}

.machinist {
  background-image: url('images/MCH.png');
}

.thaumaturge {
  background-image: url('images/THM.png');
}

.black_mage {
  background-image: url('images/BLM.png');
}

.arcanist {
  background-image: url('images/ACN.png');
}

.summoner {
  background-image: url('images/SMN.png');
}

.red_mage {
  background-image: url('images/RDM.png');
}

.carpenter {
  background-image: url('images/CRP.png');
}

.blacksmith {
  background-image: url('images/BSM.png');
}

.armorer {
  background-image: url('images/ARM.png');
}

.goldsmith {
  background-image: url('images/GSM.png');
}

.leatherworker {
  background-image: url('images/LTW.png');
}

.weaver {
  background-image: url('images/WVR.png');
}

.alchemist {
  background-image: url('images/ALC.png');
}

.culinarian {
  background-image: url('images/CUL.png');
}

.miner {
  background-image: url('images/MIN.png');
}

.botanist {
  background-image: url('images/BOT.png');
}

.fisher {
  background-image: url('images/FSH.png');
}